@{
    ViewData["Title"] = "Home Page";
}
@model weddingPlanner.Models.RegisterViewModel

<h2>Register here</h2>
<h3>Welcome @ViewBag.FirstName</h3>

<form asp-controller="Home" asp-action="Register" method="POST">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName">First Name:</label>
    <input asp-for="FirstName"/><br>
    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName">Last Name:</label>
    <input asp-for="LastName"/><br>
    <span asp-validation-for="Email"></span>
    
    <label asp-for="Email">Email:</label>
    <input asp-for="Email"/><br>
    <span asp-validation-for="Password"></span>
    <label asp-for="Password">Password:</label>
    <input asp-for="Password"/><br>
    <span asp-validation-for="Confirm"></span>
    <label asp-for="Confirm">Confirm Password:</label>
    <input asp-for="Confirm"/><br>

    <input type="submit" name="submit" value="Register">
</form>
@if (ViewBag.message != null)
{
    <p>@ViewBag.message</p>
}
<br><br><br><br>
<h3>Already Registered? Log in below.</h3>
<form asp-controller="Home" asp-action="LogUser" method="POST">
     
    <span asp-validation-for="Email"></span>
    <label asp-for="Email">Email:</label>
    <input asp-for="Email"/><br>
     
    <span asp-validation-for="Password"></span>
    <label asp-for="Password">Password:</label>
    <input asp-for="Password"/><br>
    <input type="submit" name="submit" value="Log In">
</form><br>

<button><a href="logout">Logout</a></button>
